body {
	background-color: #191919;
	color: #f8f8f2;
}

th {
	color: #f8f8f2;
}

body {
	font-family: "Roboto", sans-serif;
}

p {
	margin: 0.5rem 0 0.75rem;
}

.mono {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 17px;
}

#basics .mono {
	background-color: #0E0E0E;
	padding: 2px 4px;
	border-radius: 4px;
}

a {
	transition: 0.15s color;
}

table thead {
	background-color: #212121;
}

table tbody, table tfoot {
	background-color: #292929;
}

table tbody tr:nth-child(2n) {
	background-color: #393939;
}

hr {
    box-sizing: content-box;

    width: 80%;
    max-width: 67.5rem;

    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    border-left: 0;

    margin: 1rem auto;

    clear: both;
}

#loader {
	width: 100%;
	height: 100%;
	max-width: none;
	position: fixed;
	z-index: 500;
	background-color: #191919;
	transition: 0.7s opacity;
}

#loader.done {
	opacity: 0;
}


#page {
	width: 100%;
	max-width: none;
	height: 100%;
	transform: scale(0.7);
	transition: 0.8s cubic-bezier(.17,.84,.44,1) transform;
}

#page.done {
	transform: scale(1);
}

#sidebar {
	background-color: #090909;
	box-shadow: 0 0 32px #000;
	z-index: 2;
	text-align: right;
}

#classes h4 + div, #enums h4 + div, #enums h4 + p + div {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/*#classes h4 + div.ready, #enums h4 + div.ready, #enums h4 + p + div.ready {
	max-height: 0;
	transition: 0.3s max-height ease-in-out;
}AAA*/

#sidebar-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#sidebar, #main {
	height: 100%;
}

body > .row > .columns {
	padding: 2rem 1.5rem;
	overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Condensed", sans-serif;
}
h1, h2 {
	text-shadow: 0 3px 0 #999,
				 0 0 16px #aaa;
}
h3 {
	text-shadow: 0 2px 0 #999,
				 0 0 12px #aaa;
	margin: 1rem 0 0.5rem;

}
h4 {
	margin: 4px 0 2px;
}

h1 {
	font-size: 3.25rem;
}

#sidebar nav {
	margin: auto 0;
}

#sidebar nav a {
	color: #f8f8f2;
}
#sidebar nav a:hover {
	color: #aaaaa6;
}

#sidebar ul {
	list-style-type: none;
}

#sidebar li {
	padding: 0.75rem 0;
	font-size: 1.25rem;
	text-shadow: 0px 0px 4px #666;
}

#sidebar p {
	color: #666;
}

#classes th:nth-child(1) {
	width: 100px;
}

#enums table {
	margin: auto;
	width: 80%;
}
#enums th {
	width: 50%;
}

/*#classes h4, #enums h4 {
	cursor: pointer;
}AAA*/

#classes h4 i.fa {
	font-size: 1rem;
}

#classes td:nth-child(1) img {
	display: block;
	margin: auto;
}

#classes span:not(.no-mono, [class*='hljs-']),
#classes span:not(.no-mono, [class*='hljs-']) *,
#classes a.code,
#classes a.code * {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 17px;
}

#classes td:nth-child(2) div:first-child,
#classes td:nth-child(2) div:first-child * {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 20px;
}

#classes a > img,
#enums a > img {
	width: 18px;
	margin-right: 4px;
}
#enums h4 > img {
	width: 28px;
	margin-right: 6px;
}

#classes span:not([class*='hljs']) {
	color: #666;
}

#classes span.itg-string {
	color: #7bd;
}

#classes span.itg-int {
	color: #8f8;
}

#classes span.itg-float {
	color: #292;
}

#classes span.itg-bool {
	color: #f63249;
}

#classes span.itg-object, #classes span.itg-table, #classes span.itg-mixed {
	color: #0bb;
}

.example {
	border-radius: 6px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	width: 100%;
	font-size: 14px;
	background-color: #090909;
	padding: 2px 8px;
}

/* highlightjs */

.hljs {
    display: block;
    overflow-x: auto;
    /*background-color: #23241f;*/
}

.hljs-string {
	color: #7bd;
}

.hljs-number {
	color: #292;
}

.hljs-comment {
	color: #666;
	font-style: italic;
}

.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
    color: #0bb;
}

.hljs,
.hljs-tag,
.hljs-subst {
    color: #f8f8f2
}

.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2
}

.hljs-bullet,
.hljs-quote,
.hljs-regexp,
.hljs-literal,
.hljs-link {
    color: #ae81ff
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
    color: #a6e22e
}

.hljs-strong {
    font-weight: bold
}

.hljs-emphasis {
    font-style: italic
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
    color: #f92672
}

.hljs-symbol,
.hljs-attribute {
    color: #66d9ef
}

.hljs-params,
.hljs-class .hljs-title {
    color: #f8f8f2
}

.hljs-deletion,
.hljs-meta {
    color: #75715e
}