@charset "UTF-8";


/* Styles généraux */

::-moz-selection {
    background: #999;
}
::selection {
    background: #999;
}

body {
	background-color: #191919;
	background: -webkit-linear-gradient(#333, #191919);
	background: -moz-linear-gradient(#333, #191919);
	background: -o-linear-gradient(#333, #191919);
	background: linear-gradient(#333, #191919);
	font-family: "Roboto", sans-serif;
	color: #f8f8f2;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Condensed", sans-serif;
}
h1 {
	font-size: 3.25rem;
}
h1, h2 {
	text-shadow: 0 3px 0 #999,
				 0 0 16px #aaa;
}
h3 {
	text-shadow: 0 2px 0 #999,
				 0 0 12px #aaa;
	margin: 1rem 0 0.5rem;

}
h4 {
	margin: 4px 0 2px;
}

p {
	margin: 0.5rem 0 0.75rem;
}

a {
	transition: 0.15s color;
}

table thead {
	background-color: #212121;
}

table tbody, table tfoot {
	background-color: #292929;
}

table tbody tr:nth-child(2n) {
	background-color: #393939;
}

th {
	color: #f8f8f2;
}

hr {
    box-sizing: content-box;

    width: 90%;
    max-width: 80rem;

    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    border-left: 0;

    margin: 1rem auto;

    clear: both;
}


/* Blocs */

body > div {
	padding: 1.5rem 1.25rem;
	overflow-y: auto;
}

#sidebar {
	background-color: #090909;
	background: -webkit-linear-gradient(#222, #090909);
	background: -moz-linear-gradient(#222, #090909);
	background: -o-linear-gradient(#222, #090909);
	background: linear-gradient(#222, #090909);
	text-align: right;
	display: flex;
	flex-direction: column;
	z-index: 2;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	transform: translateX(-100%);
	transition: transform 0.2s ease-in-out;
}
@media screen and (min-width: 64em) {
	#sidebar {
		-webkit-flex: 0 0 30%;
		-ms-flex: 0 0 30%;
		flex: 0 0 30%;
		max-width: 30%;
		width: auto;
		left: -30%;
	}
}

#sidebar nav {
	margin: auto 0;
}
#sidebar nav a, #sidebar h2 a {
	color: #f8f8f2;
}
#sidebar nav a:hover, #sidebar h2 a:hover {
	color: #aaaaa6;
}

#sidebar h2 {
	transition: 0.15s text-shadow;
}
#sidebar h2:hover {
	text-shadow: 0 3px 0 #666, 0 0 16px #999;
}

#sidebar ul {
	list-style-type: none;
	margin: 0;
}
#sidebar li {
	padding: 0.7rem 0;
	font-size: 1.25rem;
	text-shadow: 0px 0px 4px #666;
}

#sidebar p {
	color: #666;
}

#main {
	height: 100%;
}
#main-content {
	max-width: 90rem;
	margin: auto;
}

body, #sidebar, #main {
	transition: transform 0.5s cubic-bezier(.25,.46,.45,.94), opacity 0.5s cubic-bezier(.25,.46,.45,.94);
}


/* Navigation */

.nav-toggle-button {
	background-color: #090909;
	background-image: -webkit-linear-gradient(#333, transparent);
	background-image: -moz-linear-gradient(#333, transparent);
	background-image: -o-linear-gradient(#333, transparent);
	background-image: linear-gradient(#333, transparent);
	box-shadow: 0 4px 8px #000;
	font-size: 1.375rem;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: fixed;
	bottom: 4vmin;
	right: 4vmin;
	opacity: 0.8;
	transition: background 0.25s, opacity 0.25s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-ms-touch-action: none;
}
@media screen and (min-width: 64em) {
	button.nav-toggle-button {
		width: 64px;
		height: 64px;
		right: -webkit-calc(5vmin + 16px);
		right: -moz-calc(5vmin + 16px);
		right: calc(5vmin + 16px);
	}
}
button.nav-toggle-button:hover,
button.nav-toggle-button:focus {
	background-color: #222;
	opacity: 1;
}

.nav-open {
	transform: translateX(10%);
}
.nav-open #sidebar {
	transform: translateX(66.6666%);
}
.nav-open #main {
	opacity: 0.6;
	transform: matrix3d(1,0,0.00,-0.0004,0.00,1,0.00,0,0,0,1,0,0,0,0,1);
}

.mobile-nav-open #sidebar {
	transform: translateX(0);
}


/* Sections */

a > img {
	width: 18px;
	margin-right: 4px;
}
h4 > img {
	width: 28px;
	margin-right: 6px;
}

#basics {
	text-align: justify;
}

#classes h4 + div, #enums h4 + div, #enums h4 + p + div {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#classes h4 i.fa {
	font-size: 1rem;
}
#classes td:nth-child(1) img, #globalfuncs td:nth-child(1) img {
	display: block;
	margin: auto;
}
#classes th:nth-child(1), #globalfuncs th:nth-child(1) {
	width: 100px;
}

#enums table, #constants table {
	margin: auto;
	width: 80%;
}
#enums th, #constants th {
	width: 50%;
}


#classes span:not(.no-mono, [class*='hljs-']),
#classes span:not(.no-mono, [class*='hljs-']) *,
#classes a.code,
#classes a.code *,
#globalfuncs span:not(.no-mono, [class*='hljs-']),
#globalfuncs span:not(.no-mono, [class*='hljs-']) *,
#globalfuncs a.code,
#globalfuncs a.code * {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 17px;
}
#classes td:nth-child(2) div:first-child,
#classes td:nth-child(2) div:first-child *,
#globalfuncs td:nth-child(2) div:first-child,
#globalfuncs td:nth-child(2) div:first-child * {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 20px;
}

#classes span:not([class*='hljs']), #globalfuncs span:not([class*='hljs']) {
	color: #666;
}
#classes span.itg-string, #globalfuncs span.itg-string {
	color: #97d8ea;
}
#classes span.itg-int, #globalfuncs span.itg-int {
	color: #8f8;
}
#classes span.itg-float, #globalfuncs span.itg-float {
	color: #292;
}
#classes span.itg-bool, #globalfuncs span.itg-bool {
	color: #f63249;
}
#classes span.itg-object, #classes span.itg-table, #classes span.itg-mixed,
#globalfuncs span.itg-object, #globalfuncs span.itg-table, #globalfuncs span.itg-mixed {
	color: #0bb;
}

/* Helpers */

.mono {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 17px;
}

#basics .mono {
	background-color: #0E0E0E;
	padding: 2px 4px;
	border-radius: 4px;
	font-size: 14px;
}

.example {
	border-radius: 6px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	width: 100%;
	font-size: 14px;
	background-image: -webkit-linear-gradient(rgba(22, 22, 22, 0.8), rgba(9, 9, 9, 0.9));
	background-image: -moz-linear-gradient(rgba(22, 22, 22, 0.8), rgba(9, 9, 9, 0.9));
	background-image: -o-linear-gradient(rgba(22, 22, 22, 0.8), rgba(9, 9, 9, 0.9));
	background-image: linear-gradient(rgba(22, 22, 22, 0.8), rgba(9, 9, 9, 0.9));
	padding: 3px 8px;
	word-break: break-all;
}

.g {
	color: #777;
}

.rainbow {
	-webkit-animation: rainbow 1.5s infinite;
	-moz-animation: rainbow 1.5s infinite;
	-ms-animation: rainbow 1.5s infinite;
	-o-animation: rainbow 1.5s infinite;
	animation: rainbow 1.5s infinite;
}

@media screen and (max-width: 63.9375em) {
	h1 {
		font-size: 2rem;
	}
	h1, h2 {
		text-shadow: 0 2px 0 #999, 0 0 16px #aaa;
	}
	.example {
		font-size: 12px;
	}
	#classes td:nth-child(2) div:first-child,
	#classes td:nth-child(2) div:first-child *,
	#globalfuncs td:nth-child(2) div:first-child,
	#globalfuncs td:nth-child(2) div:first-child *,
	section:not(#basics), .mono {
		font-size: 14px;
		word-break: break-all;
		max-width: 100%;
	}
	.mono {
		display: inline-block;
	}
	#classes th:nth-child(1), #globalfuncs th:nth-child(1) {
		width: 32px;
	}
	#enums table, #constants table {
		width: 100%;
	}
	#sidebar {
		text-align: left;
	}
	#sidebar li {
		padding: 0.3rem 0;
	}
	#sidebar li a {
		font-size: 14px;
	}
	#sidebar p {
		font-size: 12px;
	}
}

@media screen and (min-width: 64em) {
	#classes th:nth-child(1)::before, #globalfuncs th:nth-child(1)::before {
		content: "Availability";
	}
}

/* highlightjs */

.hljs {
    display: block;
    overflow-x: auto;
    /*background-color: #23241f;*/
}

.hljs-string {
	color: #97d8ea;
}

.hljs-number {
	color: #292;
}

.hljs-comment {
	color: #666;
	font-style: italic;
}

.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable,
.hljs-attr {
    color: #0bb;
}

.hljs-attr {
	font-style: italic;
}

.hljs,
.hljs-tag,
.hljs-subst {
    color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-regexp,
.hljs-literal,
.hljs-link {
    color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
    color: #a6e22e;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name {
    color: #f63249;
}

.hljs-symbol,
.hljs-attribute {
    color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
    color: #f8f8f2;
}

.hljs-deletion,
.hljs-meta {
    color: #75715e;
}

/* Animation rainbow */

@-webkit-keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}
@-moz-keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}
@-o-keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}
@keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}