body {
	background-color: #191919;
	color: #F8F8F2;
}

th {
	color: #F8F8F2;
}

body * {
	font-family: "Roboto", sans-serif;
}

table thead {
	background-color: #212121;
}

table tbody, table tfoot {
	background-color: #292929;
}

table tbody tr:nth-child(2n) {
	background-color: #393939;
}

hr {
    box-sizing: content-box;

    width: 80%;
    max-width: 67.5rem;

    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    border-left: 0;

    margin: 1rem auto;

    clear: both;
}

body > .row {
	width: 100%;
	max-width: none;
	height: 100%;
}

#sidebar {
	background-color: #090909;
	box-shadow: 0 0 32px #000;
	z-index: 2;
	text-align: right;
}

#sidebar-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#sidebar, #main {
	height: 100%;
}

body > .row > .columns {
	padding: 3rem 2rem;
	overflow-y: auto;
}

h1, h2 {
	font-family: "Roboto Condensed", sans-serif;
	text-shadow: 0 3px 0 #999,
				 0 0 16px #aaa;
}

h1 {
	font-size: 3.25rem;
}

#sidebar ul {
	list-style-type: none;
	margin: auto 0;
}

#sidebar li {
	padding: 0.75rem 0;
	font-size: 1.25rem;
	text-shadow: 0px 0px 4px #666;
}

#sidebar p {
	color: #666;
}

#classes span:not(.no-mono),
#classes span:not(.no-mono) *,
#classes a.code,
#classes a.code * {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 17px;
}

#classes td:nth-child(2) div:first-child,
#classes td:nth-child(2) div:first-child * {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 20px;
}

#classes span {
	color: #666;
}

#classes .string {
	color: #7bd;
}

#classes .int {
	color: #8f8;
}

#classes .float {
	color: #292;
}

#classes .bool {
	color: #f63249;
}

#classes .example {
	background-color: #191919;
	border-radius: 6px;
	padding: 2px;
	color: #F8F8F2;
	font-size: 16px !important;
}